.img-box {
    position: relative;
    width: 100%;
    height: 360px;
    overflow: hidden;

    @media (max-width: $tablet-max) {
        height: 250px;
    }

    @media (max-width: $mobile-max) {
        height: 200px;
    }
}

.img-box img {
    position: absolute;
    max-width: 150%;
    top: 0;
    left: 0;
}
